body {
    margin: 0px;
    padding: 10px;
}

.menu {
    background-color: #f4f4f4;
    padding: 5px 0px;
    overflow: hidden;
}

.menu ul {
    margin: 0px 0px;
    padding: 0px 0px;
}

.menu li {
    display: inline;
    list-style-type: none;
}

.menu1 {
    float: left;
}

.menu2 {
    float: right;
}

.studentsTable, th, td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}